@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>EduBook</h1>
                <h2>Administración de Contenidos</h2>
            </hgroup>
            <p>
                Versión Beta del producto.
            </p>
        </div>
    </section>
}
<h3>Pasos del proceso:</h3>
<ol class="round">
    <li class="one">
        Cargar Asignaturas
        <br />
        <br />
    </li>
    <li class="two">
        Cargar Cursos
        <br />
        <br />
    </li>

    <li class="three">
        Cargar Contenido
        <br />
        <br />
    </li>

    <li class="four">
        Cargar Asginaciones
        <br />
        <br />
    </li>
</ol>
